body{
    text-align: left;
    font-family: arial;
    color: rgb(12, 1, 7);
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}